<p id="notice"><%= notice %></p>

<h1>Listing Usertests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usertests.each do |usertest| %>
      <tr>
        <td><%= usertest.name %></td>
        <td><%= usertest.age %></td>
        <td><%= link_to 'Show', usertest %></td>
        <td><%= link_to 'Edit', edit_usertest_path(usertest) %></td>
        <td><%= link_to 'Destroy', usertest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usertest', new_usertest_path %>
