<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @usertest.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @usertest.age %>
</p>

<%= link_to 'Edit', edit_usertest_path(@usertest) %> |
<%= link_to 'Back', usertests_path %>
